/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTAINER */
.login-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #ff512f, #f09819);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* REGISTER LINK */
.register-text {
  margin-top: 12px;
  text-align: center;
  font-size: 15px;
}

.register-text a {
  color: orangered;
  font-weight: bold;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}


/* FORM */
.login-form {
  background: white;
  width: 360px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

/* INPUTS */
.login-form input {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.login-form input:focus {
  border-color: orangered;
}

/* BUTTON */
.login-form button {
  padding: 12px;
  background: orangered;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background: darkorange;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .login-form {
    width: 90%;
  }
}
