/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTAINER */
.register-container {
  height: 100vh;
  width: 100%;
   background: linear-gradient(135deg, #ff512f, #f09819);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM */
.register-form {
  background: white;
  width: 380px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  
}

.register-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

/* INPUTS */
.register-form input,
.register-form select {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.register-form input:focus,
.register-form select:focus {
  border-color: orangered;
}

/* BUTTON */
.register-form button {
  padding: 12px;
  background: orangered;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.register-form button:hover {
  background: darkorange;
}
/* LOGIN LINK */
.login-text {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}

.login-text a {
  color: orangered;
  font-weight: bold;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}


/* RESPONSIVE */
@media (max-width: 480px) {
  .register-form {
    width: 90%;
  }
}
